.category-content {
	background-color: #f4f4f4;
}

.title-category {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-category {
	width: 100%;
	margin-bottom: 50px;
}

.category-item {
	width: 100%; 
	height: 453px;
	background-color: #fff;
}

.title-cat {
	text-align: center;
	margin-top: 30px;
}

.title-cat a {
	font-size: 16px;
	font-weight: bold;
	color: #555;
}

.details-cat {
	text-align: center;
}

.stats-cat {
	margin-top: -5px;
}

.ingredients {
	margin-top: -5px;
	font-size: 14px;
	text-align: center;
	color: #9e9e9e;
}

.hr-stat-tags {
	margin-top: 35px;
}

.img-author {
	width: 24px;
	height: 24px;
	margin-left: 15px;
	float: left;
}

.name-author a {
	float: left;
	margin-left: 10px;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	margin-top: 5px; 
}

.img-title {
	width: 32px;
	height: 32px;
	margin-right: 5px;
}

.title-img-cat a {
	color: #555;
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}