body {
	font-family: Helvetica;
}

.menu-top {
	width: 100%;
	height: 23px;
}

li {
  color: #f1f1f1;
  display: inline-block;
  margin-left: -5px;
  padding: 3px 15px;
}

.li-work {
	width: 140px;
	height: 100%;
}

.li-place {
	width: 110px;
	height: 100%;
}

.li-product {
	width: 120px;
	height: 100%;
}

.menu-top a {
  color: #1a1e26;
  display: block;
}
.menu-top a:hover {
	  /*background: #b71c1c;
	  color: #fff;*/
}

.menu-top li.active {
  background: #b71c1c;
  color: #fff;
}

.menu {
	font-size: 12px;
	font-weight: bold;
}

.menu-mid {
	width: 100%;
	height: 52px;
	background-color: #b71c1c;
}

.logo {
	width: 70%;
	padding-top: 5px;
	padding-left: -5px;
}

.menu-bot {
	width: 100%;
	height: 40px;
}

.list-menu-bot {
	height: 40px;
	background-color: green;
}

/* Content */
.content {
	
}

.content-slide {
	padding-top: 15px;
}

.slide {
	background-color: #F4F4F4;
	width: 100%;
	height: 445px;
}

.content-item {
	width: 100%;
	height: 210px;
	background-color: #F4F4F4;
	
}

.item {
	width: 190px;
	height: 102px;
}

img {
	width: 100%;
}

.item-son {
	width: 170px;
	height: 82px;
	overflow: hidden;
	border-radius: 7px;
}

.title-work {
	width: 100%;
	height: 100px;
	/*background-color: blue;*/
}

.title-work-center {
	width: 100%;
	text-align: center;
}

.title-work-center h3 {
	text-transform: uppercase;
	font-weight: 400;
	/*font-size: 26 !important;*/
	padding-top: 20px;
}

.hr-title-work {
	/*width: 50%;*/
	/*text-align: center !important;*/
	background-color: green;
}

.work-item {
	width: 100%;
	height: 500px;
	/*background-color: #BCFEFF;*/
}

.work-item-top {
	height: 60px;
}

.img-avatar {
	width: 50px;
	margin: 5px 10px;
}

.avatar-user {
	width: 75px;
	float: left;
}

.info-user {
	float: left;
}

.user-work {
	margin-bottom: 0;
	margin-top: 3px;
	color: #b2b2b2;
	font-size: 12px;
}

.user-name {
margin-bottom: 0;
color: black; 	
font-weight: bold;
font-size: 14px;
}

.user-more {
margin-bottom: 0;
color: #b2b2b2;
font-size: 12px;
}

.hightlight-user-more {
	color: red;
	font-weight: bold;
}

.img-feed {
	margin-top: 10px;
}

.feed-name h3.title {
	margin-top: 15px;
	font-family: inherit;
	font-weight: 500;
	font-size: 20px;
	color: #333;
}

.text-orange {
	color: #ffa500;
}

.ul-user-star li {   
	padding: 0px 5px;   
	padding-top: 0px;
	font-size: 14px;
}

.ul-user-star {
	margin-bottom: 0;
}

.user-star {
	margin-top: -5px;
}

.content-feed {
	height: 72px;
	color: #555;
	padding: 5px 10px;
	font-style: italic;
	font-size: 13px;
}

.color-detail-info {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

.stats-ico {
	color: #555;
	font-size: 12px;
}

.detail-info li {
	color: #555;
	font-size: 12px;
	padding: 0px 5px;   
	padding-top: 0px;
}

.detail-info {
	margin-bottom: 5px;
}

.hr-detail-info {
	margin: 10px 0px;
}

.box-img-detail {
	width: 87.5px;
	float: left;	
}

.img-detail {
	width: 80px;
	height: 80px;
	margin: auto;
}

.boder-img-detail {
	border-radius: 8px;
}

.logo-video {
	width: 48px;
}

.title-video-center {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.title-video-center h3 {
	font-weight: 400;
	padding-top: 20px;
}

.content-video {
	height: 380px;
}

.title-detail-video h3.text-detail-video {
	color: #333;
	font-size: 16px;
}

.hightlight-text-details {
	font-size: 12px;
	color: red;
}

.title-detail-video {
	color: #9e9e9e;
	font-size: 12px;
	margin-bottom: 10px;
}

.title-tip-center {
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.title-tip-center h2 {
	font-weight: 400;
	padding-top: 5px;
	color: #333;
	font-size: 26px;
}

.item-tip {
	width: 290px;
	height: 373px;
}

.img-item-tip {
	width: 270px;
	height: 270px;
}

.title-text-tip {
	margin: 15px 5px;
	color: #333;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.hightlight-text-tip {
	color: green;
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
}

.text-tip {   
	color: #333;   
	font-size: 11px; 
}

.item-tip {
	border-color: #d4d4d4;
	border-style: solid;
	border-width: 1px;
}

.content-tip2 {
	padding-top: 20px;
}